<%- include("partials/head.ejs") %>

    <h1>
        <%= about %>
    </h1>

    <form id="loginForm" class="form-data" method="POST" action="/login">
        <!-- TO DO, introducir campos REGEX para validar los datos que enviamos -->
        <label for="emailUser">Email</label>
        <input type="email" name="email" id="emailUser" value="johnny@melavo.com" required>

        <label for="passwordUser">Password</label>
        <input type="password" name="password" id="passwordUser" value="melavo" required>

        <div>
            <input type="submit" value="Login">
        </div>
    </form>

    <% if(typeof error !=="undefined" ){ %>
        <p class="error-message">
            <%= error %>
        </p>
        <%}%>

            <%- include("partials/footer.ejs") %>