<%- include("partials/head.ejs") %>
    <%- include ("partials/header.ejs") %>

        <main>

            <section class="form-productos">
                <div class="form-container">
                    <h2>Crear producto</h2>

                    <form id="postProduct-form" class="form-alta">
                        <label for="nameProd">Nombre</label>
                        <input type="text" name="name" id="nameProd" required>

                        <label for="imageProd">Imagen</label>
                        <input type="text" name="image" id="imageProd" required>

                        <label for="categoryProd">Categoria</label>
                        <select name="category" id="categoryProd" required>
                            <option value="zapatillas">zapatillas</option>
                            <option value="ropa">ropa</option>
                        </select>

                        <label for="priceProd">Precio</label>
                        <input type="number" name="price" id="priceProd" required>

                        <div>
                            <input type="submit" value="Crear producto">
                        </div>
                    </form>
                </div>

                <hr>

                <div class="form-container">
                    <h2>Crear usuario</h2>
                    <form id="postUser-form" class="form-alta">

                        <!-- Nombre de usuario -->
                        <label for="nameUser">Nombre</label>
                        <input type="text" name="nameUser" id="nameUser" required>

                        <!-- Email de usuario -->
                        <label for="emailUser">Email</label>
                        <input type="email" name="emailUser" id="emailUser" required>

                        <!-- Password de usuario -->
                        <label for="passUser">Password</label>
                        <input type="text" name="passUser" id="passUser" required>

                        <div>
                            <input type="submit" value="Crear usuario">
                        </div>

                    </form>

                </div>
            </section>

            <section class="secccion-productos">
                <div id="contenedor-productos">
                    <!-- Aca ira nuestro mensaje de exito o error -->
                </div>
            </section>
        </main>

        <script src="/js/post.js"></script>

        <%- include("partials/footer.ejs") %>